{% extends 'base.html' %}
{% block title %}Бронирование кабинетов{% endblock %}
{% load static %}
{% load booking_tags %}
{% block content %}
    <div class='container' style="margin-top: 30px">
        <div class="row">
            <div class="col-9">
                <div class="schedule">
                    <h2>Расписание кабинета</h2>
                </div>
            </div>
            <div class="col-3">
                <div class='booking'>
                    <div class="booking-form">
                        {% booking_form %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}