{% extends 'base.html' %}
{% block title %}Бронирование кабинетов{% endblock %}
{% load static %}
{% block content %}

<div class="container" style="max-width: 60%">
    <h3 class="mb-3">Выберите дату и время</h3>
    <table class="table table-sm table-bordered">
        <thead>
        <tr>
            <th scope="col"></th>
            {% for date in dates %}
            <th scope="col">{{ date.date|date:'d.m.y' }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for time in times %}
        <tr>
            <th scope="row">{{ time.time|time:"H:i" }}</th>
            {% for date in dates %}
            <td>
                <button type="button" class="btn btn-outline-danger"
                        disabled>{{ time.time|time:"H:i" }}
                </button>
            </td>
            {%endfor%}


        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}