upstream django_proj {
    server web:${DJANGO_PORT};
}

server {
    listen ${NGINX_OUTPUT_PORT};

    location / {
        proxy_pass http://django_proj;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
        proxy_redirect off;
    }

    location /static/ {
        alias /home/MeetBooking/staticfiles/;
    }

}