{% extends 'base.html' %}
{% block title %}Бронирование кабинетов{% endblock %}
{% load static %}

{% block content %}
    <div class='container' style="margin-top: 30px">
        <div class="row">
            <div class="col-9">
                <div class="schedule">
                    <h2>Расписание кабинета</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            {% for date in schedule|slice:":7" %}
                                <th scope="col">{{ date.keys }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for date_time in schedule|slice:":7" %}
                            <tr>
                                {% for date,times in date_time.items %}
                                    {% for time,event in times.items %}
                                        <td>{{ time }}</td>
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>

                </div>
            </div>
            <div class="col-3">
                <div class='booking'>
                    <div class="booking-form">
                        {% include "cabinets/bookinf_form.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#                        <tbody>#}
    {#                        {% for dates,times in schedule.items %}#}
    {#                            <tr>#}
    {#                                <th scope="row">{{ dates }}<br>#}
    {#                                </th>#}
    {#                                {% for time in times %}#}
    {#                                    <td>#}
    {#                                        <button type="button" class="btn btn-light"#}
    {#                                                disabled>{{ time }}</button>#}
    {#                                    </td>#}
    {#                                {% endfor %}#}
    {#                            </tr>#}
    {#                        {% endfor %}#}
    {#                        </tbody>#}
    {#    <script>#}
    {#        $('#booking').on('submit', function (e) {#}
    {#            e.preventDefault();#}
    {#            $.ajax({#}
    {#                type: "POST",#}
    {#                url: "{% url 'booking' 1 %}",#}
    {#                data: {#}
    {#                    title: $('#id_title').val(),#}
    {#                    date: $('#id_date').val(),#}
    {#                    start_time: $('#id_start_time').val(),#}
    {#                    end_time: $('#id_end_time').val(),#}
    {#                    cabinet: $('#id_cabinet').val(),#}
    {#                    csrfmiddlewaretoken: '{{ csrf_token }}',#}
    {#                    dataType: "json",#}
    {#                },#}
    {#                success: function (response) {#}
    {#                    $("#booking").trigger("reset");#}
    {#                    alert("Вы успешно забронировали время");#}
    {#                },#}
    {#                error: function (response) {#}
    {#                    $('#errors').append(response.responseJSON.errors);#}
    {#                }#}
    {#            });#}
    {#        });#}
    {#    </script>#}
    {#    <script src="{% static 'js/javascript.js' %}" async></script>#}
{% endblock %}