{% extends 'base.html' %}
{% block title %}Бронирование мероприятий{% endblock %}
{% load static %}

{% block content %}
    <div class="container cabinet">
        <div class="row">
            <div class="col-9">
                <div class="schedule">
                    <h2>Расписание кабинета</h2>
                    <div id="carouselExampleControls" class="carousel slide" data-bs-interval="false"
                         data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="schedule-body">
                                    <div class="row row-cols-7">
                                        {% for date_time in schedule|slice:"0:7" %}
                                            {% include 'cabinets/carousel_item.html' %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="schedule-body">
                                    <div class="row row-cols-7">
                                        {% for date_time in schedule|slice:"7:14" %}
                                            {% include 'cabinets/carousel_item.html' %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="schedule-body">
                                    <div class="row row-cols-7">
                                        {% for date_time in schedule|slice:"14:21" %}
                                            {% include 'cabinets/carousel_item.html' %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="schedule-body">
                                    <div class="row row-cols-7">
                                        {% for date_time in schedule|slice:"21:28" %}
                                            {% include 'cabinets/carousel_item.html' %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="schedule-body">
                                    <div class="row row-cols-7">
                                        {% for date_time in schedule|slice:"28:" %}
                                            {% include 'cabinets/carousel_item.html' %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Предыдущий</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Следующий</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class='booking'>
                    <div class="booking-form">
                        {% include "cabinets/bookinf_form.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}